.container {
    max-width: 2560px;
    display: flex;
    flex-direction: column;    
    background-color: rgb(43, 41, 41);   
}

h2, h3 {
    display: flex;
    justify-content: center;
}

.Cards {
    
    flex-wrap: wrap;
}
ul{
    list-style: none;
}
